h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: normal;
  user-select: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  background: none;
  border: none;
}

input, button, textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html, body {
  height: 100%;
}

body {
  background: #181818;
  font-family: "Montserrat";
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.plate {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  font-size: 0.6em;
  line-height: 2.5;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  color: inherit;
}

.social {
  padding-top: 1rem;
}
.social a {
  vertical-align: middle;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.3);
  /* transition: all 0.7s ease 0.15s;  */
}
.social a svg {
  height: 1.25rem;
  margin: 0 0.5rem;
  fill: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}
.social a:hover {
  color: #fff;
}
.social a:hover svg {
  fill: #fff;
}
.social__twitter {
  transform: translateX(-10px);
}
.social__codepen {
  transform: translateX(10px);
}
.social__codepen p {
  float: right;
}
.social.active {
  opacity: 1;
}
.social.active a {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.mouse {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 1rem 0;
  z-index: 2;
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  letter-spacing: 6px;
  font-size: 0.45em;
  line-height: 2.5;
  text-transform: uppercase;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(-15px);
}
.mouse.active {
  transform: none;
  opacity: 1;
}

.text-animation {
  opacity: 0;
}
.text-animation.active {
  opacity: 1;
}
.text-animation .letter {
  opacity: 0;
  transition: color 0.5s ease, opacity 0.3s ease;
  transform-origin: bottom;
  color: #fff;
}
.text-animation .letter.active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  transform: none;
  animation: color 5s ease infinite 3s;
}

@keyframes color {
  0% {
    color: white;
  }
  20% {
    color: rgba(255, 255, 255, 0.3);
  }
  100% {
    color: rgba(255, 255, 255, 0.3);
  }
}

/*# sourceMappingURL=style.css.map */
